@font-face {
  font-family: "PT Mono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#terminal {
  color: #a100f2;
  justify-self: center;
  border: 2px solid #39ff14;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1.85rem;
  font-family: "PT Mono", "Courier New", Courier, monospace;
}

#terminal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
  border-bottom: 2px solid #39ff14;
  padding-bottom: 0.2rem;
}

#terminal-header h3 {
  font-size: 2rem;
}

.window-button {
  border: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

#window-control {
  display: flex;
  gap: 0.5rem;
}

#red-button {
  background-color: #ef233c;
}

#yellow-button {
  background-color: #eeef20;
}

#green-button {
  background-color: #b5e48c;
}

#input-line {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #00ff00;
  font-size: 1rem;
  flex-grow: 1;
  font-family: inherit;
}

#prompt {
  font-size: 1.5rem;
}
