* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #081c15;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar terminal"
    "sidebar main"
    "sidebar main";
}

#sidebar {
  grid-area: sidebar;
}

#header {
  grid-area: header;
}

#terminal {
  grid-area: terminal;
}

#main {
  grid-area: main;
}
